simuladorgiros-page {

  .title {
    text-align: center;
 }
  .citycontent {
  right: 0px; 
  }

  .numero {
    margin: 0;
    
    box-sizing: content-box;
    font-size: 5.5rem;
    color:black;
    opacity: 1;
    max-width: 200px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
     }


     .centering{
       text-align: -webkit-center;

     }

 ion-card-header{
   text-align: center;
   background: color($colors, ganagana, primary);
 }

.ion-select{
  max-width: 100%;

}

item-block{
  width: 36%;
}

 
}
