login-page {

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

  .headerlogin {
    padding: 10px 12px;
    height: 40px;
    text-align: center;
  }

  div .imagen{
    text-align: center;
  }

  div .registro{
    text-align: center;
    padding-top: 1.5em;
  }

  p{
    margin-left: 2em;
    margin-right: 2em;
  }

}