login-page {

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

}

login-page {

  .headerlogin {
    padding: 10px 12px;
    height: 40px;
    text-align: center;
  }

  img{
    width: 100%;
  }
  p{
    text-indent: justify;
  }

}

.alert-md .alert-button{
    background-color: #FFED00;
    color: #015643;
    button{
        color: #015643;
    }
}
