<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Juegos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header color="ganagana">
        Selecciona y a jugar!
      </ion-list-header>
      <button ion-item *ngFor="let game of games" (click)="gamesTapped($event, game)">
      {{game.title}}
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </button>
    </ion-list>
    <div *ngIf="selectedGame" padding>
      You navigated here from <b>{{selectedGame.title}}</b>
    </div>
  </ion-card>
  <ion-card *ngIf="firebaseService.message">
    <ion-list>
      <ion-list-header color="ganagana">
        {{firebaseService.message}}
      </ion-list-header>
    </ion-list>
  </ion-card>
</ion-content>