page-numresultados {
  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }
}

page-numresultados {
  .numero {
    margin: 0;
    line-height: 100px;
    box-sizing: content-box;
    font-size: 5.5rem;
    color:black;
    opacity: 1;
    max-width: 200px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
 }
}
.container {
    height: 2000px; }
.numerologia {
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}