page-home {
    .swiper-slide{
        height: 21%;
    }

    .logo{
        width: 100%;
        align-items:center;
        padding-bottom: 6px;
        padding-top: 17px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .myslides{
        padding-top: 7px;
        height: auto;
    }

    .myicon{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: gold;
        font-size: 80px;
        background-color: transparent
    }

    .mycol{
        text-align: center;
    }

    .ion-buttontx{
        margin: 0rem
    }

        .ion-buttonic{
        text-align: center;
        background-color: transparent;
        height: 85px;
        box-shadow: none;
        margin: 0rem
    }




}
