<ion-header>
  <ion-navbar>
    <ion-title>Kit de la Suerte</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="instructionsRoot">
        <ion-icon name="help" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Escanea el codigo QR y valida tus puntos
    </ion-card-header>
    <ion-card-content>
      <button ion-button block color="ganagana" (click)="validarQR()">Escanear Ahora</button>
      <ion-list *ngIf="data">
        <ion-item>data.result</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--Impresion de Cards-->
  <span class="amuletos" *ngFor="let amulet of amulets">
    <ion-card>
    <img [ngClass]="amulet.find ? 'azul': 'gris'" src="{{amulet.imgUrl}}" alt="">
    <ion-card-header>
      <button ion-button (click)="prueba(amulet)">
      {{amulet.name}}
      </button>
    </ion-card-header>
    </ion-card>
    
  </span>
</ion-content>