page-kitdelasuerte {
    ion-card{
        border: 2em;
        border-color: red;
        
    }
    img{
        border: 20em;
        
        

    }
    
    .amuletos{
        width: 140px;
        overflow: hidden;
        padding-bottom: 5px;
        padding-left: 0.5em;
        padding: 1px;
        float: left;
        
    }

    .azul{
        border-style: solid;
        border-width: 5px;
        border-color: cornflowerblue;
    }

    .gris{
        border-style: solid;
        border-width: 5px;
        border-color: grey;
    }
}
