page-kit-suerte-popover {
    ion-card-header{
        text-align: center;
        background-color: color($colors, ganagana);
        
    }
    ion-item-group{
        margin-top: 10px;
    }
    p{
        padding-top: 1.5em;
        padding-bottom: 1em;
        padding-left: .3em;
        padding-right: .3em;
    }
}
