instrucciones-page {

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

  ion-card-header ion-item{
    text-align: center !important; 
  }
  p{
    padding: 0em 4.5em;
    
  }
  

}
